@model Employee
@{
    ViewData["Title"] = "Details";
    var photoPath = "~/images/"+ (@Model.PhotoPath ?? "noimage.jpg");
}

<h1>Employee Details</h1>
<div class="card m-2">
    <div class="text-body text-center">
        <div class="card-header m-1">
            <h4>@Model.EmployeeName</h4>
        </div>
        <img src="@photoPath" asp-append-version="true" class="img-thumbnail"  />
        <div class="card-body m-2 text-center">
            <h4>Employee Id : @Model.EmployeeId</h4>
            <h4>Employee Email : @Model.Email</h4>
            <h4>Employee Department : @Model.Department</h4>
        </div>
        <div class="card-footer">
            <a asp-action="index" asp-controller="home" class="btn btn-primary">Back</a>
            <a asp-action="Edit" asp-controller="home" asp-route-id="@Model.EmployeeId" class="btn btn-danger">Edit</a>
            <a asp-action="Delete" asp-controller="home" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>


